*{
    padding: 0;
    margin: 0;
  }


body{
    height: 100%;
  margin: 0;
  width: 100%;
}
.bg {
    
    background-color: #ffffff;
  
    
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    position: relative;
    left: 100%;
}
.nav-item{
    font-size: 20px;
    margin-left: 40px;
    
    
}

.container main{
    position: relative;
    left: 100%;
}
#home{
    height: 100vh;
    width: 50%;
}
.col-sm-3{
    height: 85vh;
    color:#000000 ;
}
.col-sm-8{
    height: 85vh;
    color:#b2b6bd ;
}

.row{
    position: relative;
    top: 10px;
    max-width: 100%;
}
.heading{
    font-size: 70px;
    color: #000000;
}
.sub{
    font-size: 50px;
}
.line1{
    font-size: 20px;
    color: #979292;
    position: relative;
    top: 10px;
}
.main{
    width: 70%;
    height: 100vh;
}
#about{
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
}

#works{
    height: 760vh;
    background-color: #ffffff;
    color: #000000;

}

.link{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

#contact{
    height: 150px;
    color:#ffffff;
    background-color: #000000;
}

.link2{
    text-decoration: none;
    color: #aaa5a3;
    margin-right: 60px;
    position: relative;
    left: 40px;
}

.para{
    font-size: 24px;
    color: #c2bfbf;
}

.w{
    position: relative;
    top: 100px;
}

.i{
    height: 70%; 
    width: 100%;
}

.container{
    position: relative;
    top: 60px;
    height: 1000px;
}