*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
.right{
    display: flex;
    float: right;
    align-items: center;
}
.navbar{
    width: 85%;
    height:70px;
    margin: 0 auto;
    justify-content: space-between;
}
.check{
    display: none;
}
.navbar ul{
    list-style: none;
}
.navbar ul a{
    text-decoration: none;
    color: burlywood;
    margin: 0.3rem;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
}
.navbar ul a:hover{
    transition: background .8s;
    background-color: rgb(255, 217, 0);
    color: black;
}
#main{
    width: 85%;
    height:650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}
#main::before,#main::after{
    content: '';
    width: 80%;
    height: 70%;
    background-color: white;
    position: absolute;
    bottom: auto;
    right: -7%;
    z-index: -10;
}

#main::after{
    height: 60%;
    top: 20px;
    background-color: rgb(255, 217, 0);
    left: -40%;
    z-index: -11;
}
.box h1{
    font-size: 5rem;
    margin-bottom: -4%;
    align-items: center;
}
.box p{
    font-size: 2rem;
    color: rgb(62, 68, 68);
    margin-bottom: 150%;
    margin-left: 60%;
    align-items: center;
}
.box1{
    font-size: 2rem;
    color: black;
    position: relative;
    margin-top: 20px;
    left: 300px;
}
#about{
    background-color: rgb(218, 207, 64);
    width: 100%;
    height:650px;
    margin: 0 auto;
    display: flex;
    color: rgb(76, 59, 59);
    position: relative;
    font-size: 2rem;
    align-items: left;
}
.box2{
    width: 50%;
    padding-top: 160px;
    padding-left: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-family: cursive;
}
.box2 button{
    font-size: 1.2rem;
    color: rgb(76, 59, 59);
    cursor: pointer;
    width: 12em;
    height: 2.2em;
    margin: 40px;
    transition: all .4s;
    border-radius: 10px;
    text-decoration: none;
}
.box2 button a{
    text-decoration: none;
    padding: 0.5rem 1.5rem;
}
.box2 button:hover{
    background-color: rgb(238, 197, 197);
    color: rgb(2, 1, 1);
}
.hashtags{
    width: 50%;
    float: right;
    padding-top: 160px;
    padding-left: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-family: cursive;
}
#works{
    background-color: rgb(60, 61, 66);
    width: 100%;
    height:650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
}
.heading{
    margin-top: 30px;
    font-size: 2rem;
    text-align: centre;
    display: block;
}
.gallery{
    display: flex;
    width: 100%;

}
.gallery img{
    width: 285px;
    height: 415px;
    margin: 20px;
    position: relative;
    left: 12px;
    top:20px;
}
#contact{
    background-color: rgba(0, 0, 0, 0.541);
    width: 100%;
    height:250px;
    margin: 0 auto;
    color: burlywood;
    margin: 0.3rem;
}
.text{
    display: block;
    text-align:left;
    float: left;
    color: burlywood;
    padding-left: 60px;
    padding-top: 30px;
    font-family: cursive;
}
.text2{
    float: right;
    text-align: center;
    padding-right: 60px;
    padding-top: 30px;
    list-style: none; 
    display: flex;
  }
  .text2  a{
    font-size: 24px; 
    display: inline-block;
    text-decoration: none;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
  }
  .text2 a i{
    position: relative;
    color: rgb(207, 221, 82);
    top: -10px;
    width: 100%;
    font-size: 40px;
    text-align: center;
  }