#main{
    width: 45%;
    height: 450px;
}
#main::before, #main::after{
    width: 93%;
    height: 70%;
}
.box1{
    left: -28px;
}
#about{
    height: 540px;
}
.box2{
    width: 30%;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1rem;
}
.box2 button{
    font-size: 0.5rem;
    margin: 5px;
}
.hashtags{
    width: 30%;
    padding-top: 90px;
    padding-left: 20px;
    font-size: 1rem;
}
.text2{
    padding-right: 130px;
}
